$WHITE: #FFF;
$DARK-GREY: #A3BBC8;
$LIGHT-GREY: #edf1f4;
$LIGHT-BROWN: #fde7d3;
$BROWN: #fcd7b6;
$DARK-BLUE: #436372;

$additional-color: #243f4d;
$title-color: #191919;
$brown-color: #8b8b8b;
$bg-light-color: #f9f9f9;
$grey-add-color:#fbfbfb;
$grey-color: #edf1f4;

%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%poppins-700 {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}