$WHITE: #FFF;
$GREY : #a3bbc8;
$DARK-GREY: #A3BBC8;
$ADD-LIGHT-GREY:#436372;
$LIGHT-GREY: #edf1f4;
$ADD-GREY: #7b7b7b;
$ADD-GREY2:#b3b7b5;
$LIGHT-BROWN: #fde7d3;
$ADD-LIGHT-BROWN: #fef7f0; 
$ADD-LIGHT-BROWN2: #8b8b8b;
$ADD-LIGHT-BROWN3: #feefe2;
$BROWN: #fcd7b6;
$ADD-BROWN: #414141;
$BLUE: #1f2044;
$ADD-BLUE: #243f4d;
$DARK-BLUE: #436372;
$ADD-DARK-BLUE: #234969;
$TITLE: #191919;
$BG-LIGHT: #f9f9f9;

$grey-add-color:#fbfbfb;
$grey-color: #edf1f4;

%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%poppins-700 {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}





%product-title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 35px;
    color: $TITLE;
}

%filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 380px;
    width: 100%;
    margin-bottom: 75px;
}

%filter-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    color: $ADD-LIGHT-BROWN2;
}

%link-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 18px 23px 29px;
    font-size: 15px;
    line-height: 18px;
    @extend %rubik-500;
}